<!DOCTYPE html>
<html>
<head>
	<title>Student Registered Form</title>
	{% include 'design/head.html' %}

	<script type="text/javascript">
		function ConfirmDelete() {
    return confirm("Are Your Sure Want to Delete");
     }


        function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}

	</script>
</head>
<body>
	 {% include 'design/operatormid.html' %}
	 <form name="studentdocument" method="POST" autocomplete="off">
	 	{% for d in data %}
    <div class="container-fluid"  >

     <div id="printableArea" > <table class="table">
      	<tr><td><img static src="{{d.studentphoto}}" alt="Student Image" height="150px" width="125px" ></td></tr>
        <tr>
          <td>
            <li class="list-group-item"><b> Student Name :&nbsp; </b>{{d.studentname}}</li>
            <li class="list-group-item"><b> Mother Name :</b>&nbsp;{{d.mothername}}</li>
            <li class="list-group-item"><b> Adminssion Year :&nbsp; </b>{{d.academicyear}}</li>
            <li class="list-group-item"><b>Admission Date :</b>&nbsp; {{d.admissiondate}}</li>
            <li class="list-group-item"><b>Section:  </b>&nbsp;{{d.section}}</li>
            <li class="list-group-item"><b> Aadhar Number: </b>&nbsp;&nbsp;{{d.aadhaarno}}</li>
            <li class="list-group-item"><b>Gender : </b>&nbsp;{{d.gender}}</li>
            <li class="list-group-item"><b>Date of Birth :</b>&nbsp; {{d.dateofbirth}}</li>
            <li class="list-group-item"><b>Category: </b>&nbsp;{{d.category}}</li>
            <li class="list-group-item"><b>Religion :</b>&nbsp;  {{d.religion}}</li>
            <li class="list-group-item"><b>Caste  </b>&nbsp;{{d.caste}}</li>
            <li class="list-group-item"><b> Subcaste:&nbsp; </b>{{d.subcaste}}</li>
            <li class="list-group-item"><b>Nationality :&nbsp; </b>{{d.nationality}} </li>
            <li class="list-group-item"><b>Address :</b>&nbsp; {{d.address}}</li>
            <li class="list-group-item"><b> Last School Name:</b>&nbsp;{{d.lastschool}}</li>
            <li class="list-group-item"><b>TC No:</b>&nbsp;{{d.tcno}}</li>
          </td>
          <td>
            <li class="list-group-item"><b>Father Name : </b>&nbsp;{{d.fathername}} </li>
            <li class="list-group-item"><b> Sur Name :</b>&nbsp;{{d.surname}}</li>
            <li class="list-group-item"><b>Admission Number:&nbsp; </b>{{d.admissionno}} </li>
            <li class="list-group-item"><b>Class: </b>&nbsp;{{d.chooseclass}}</li>
            <li class="list-group-item"><b>Roll Number: </b>&nbsp;{{d.rollno}}</li>
            <li class="list-group-item"><b>State: </b>&nbsp;{{d.state}}</li>
            <li class="list-group-item"><b>Mobile Numner:  </b>&nbsp;{{d.mobileno}}</li>
            <li class="list-group-item"><b>Phone Number </b>&nbsp;{{d.phoneno}}</li>
            <li class="list-group-item"><b> Total Fees  : </b>&nbsp;&nbsp;{{d.amount}}</li>
            <li class="list-group-item"><b>Father Education :</b>&nbsp;{{d.fathereducation}}</li>
            <li class="list-group-item"><b>Father Designation:</b>&nbsp;  {{d.fatherdesignation}}</li>
            <li class="list-group-item"><b> Mother Education :</b>&nbsp;{{d.mothereducation}}</li>
            <li class="list-group-item"><b> Mother Occupation: </b>&nbsp;{{d.motherdesignation}}</li>
            <li class="list-group-item"><b> Mother Tongue: </b>&nbsp;{{d.mothertongue}}</li>
            <li class="list-group-item"><b>Number Of Dependents: </b>&nbsp;{{d.dependents}}</li>
            <li class="list-group-item"><b>Annual Income :</b>&nbsp;{{d.annualincome}}</li>
          </td>
        </tr>
      </table>
    </div> 
 {% endfor %}
		 	<br>
		 	<center><input type="button" onclick="printDiv('printableArea')" value="Print" class="btn btn-info" /></center>
	 	</table>
	 	 
	 </form>
	  {% include 'design/last.html' %}
</body>
</html>