<!DOCTYPE html>
<html>
<head>
	{% include "design/head.html" %}
	<title>Add Subject</title>
</head>
<body>
	{% include "design/operatormid.html" %}
		<h3>Add Subject</h3>
	<form name="frmaddcaste" method="post" autocomplete="off">
		<div class="container-fluid mt-3" align="center" >	

		<div class="form-group">
						<div class="col-lg-6" style="text-align:left;">
							<label for="subjecttype"><font color="red" >*</font>Subject Type</label>
							<select name="subjecttype" required class="form-select" autofocus="on">
								<option value="">Select Type</option>		
								<option value="1">Theory</option>
								<option value="2">Pratical</option>
							</select>
						</div>
						<div class="col-lg-6" style="text-align:left;">
							<label for="optcum"><font color="red" >*</font>Optional/Compulsory</label>
							<select name="optional" required class="form-select" autofocus="on">
								<option value="">Select Optional/Compulsory</option>		
								<option value="1">Optional</option>
								<option value="2" selected>Compulsory</option>
							</select>
						</div>
						<div class="col-lg-6" style="text-align:left;">
							<label for="subjectcategory"><font color="red" >*</font>Subject Category</label>
							<select name="subjectcategory" required class="form-select" autofocus="on">
								<option value="">Select category</option>		
								<option value="1">Language</option>
								<option value="2">Subject</option>
							</select>
						</div>
								<div class="col-lg-6" style="text-align:left;">
			<label for="addsubject"><font color="red" >*</font>Subject</label>
			<input type="text" autocomplete="off" autofocus="on" name="addsubject" class="form-control" required placeholder="Add Subject ">
		</div>
					</div>
				</div>

		<center>
		<div class="col-lg-6 mt-3">
			<input type="submit" name="txtsubmit" value="Add Subject" class="btn btn-success">
            <input type="reset" name="btnreset" value="Cancel" class="btn btn-warning">

		</div> </center>
		{% csrf_token %}
	</form>
</div>

	{% include "design/last.html" %}
</body>
</html>