<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Edit Class</title>
	{% include "design/head.html" %}
</head>
<body>
	{% include "design/operatormid.html" %}
{% for d in data %}	
<h2>Edit Assessment Details</h2>
	<form name="editclass" method="post">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<label for="name"><font color="red">*</font> Assessment id </label>
					<input type="text" name="assid" readonly value="{{d.id}}" class="form-control">

					
				</div>
				<div class="col-lg-6">
					<label for="name"><font color="red">*</font> Assessment  Name</label>
					<input type="text" name="asssname" value="{{d.assesment_name}}"class="form-control">

				</div>
				
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label for="name"><font color="red">*</font> Min Marks</label>
					<input type="text" name="minmark"  value="{{d.minimum_marks}}" class="form-control">

					
				</div>
				<div class="col-lg-6">
					<label for="name"><font color="red">*</font> Max Marks</label>
					<input type="text" name="maxmark" value="{{d.maximum_marks}}"class="form-control">

				</div>
				
			</div>
			<br>
			<div align="center">
				<input type="submit" name="btnsubmit" value="Update" class="btn btn-success">
				
			</div>
			
		</div>
		

{% csrf_token %}
	</form>

{% endfor %}
{% include "design/last.html" %}
</body>
</html>