
<!DOCTYPE html>
<html>
<head>
        {% include 'design/head.html' %}

    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New User</title>
</head>
<body>
    {% include 'design/operatormid.html' %}
 <form  id="validate_form"method="post" style="width: 1000px;text-align: left;" >
   
       <h3 align="left">New User</h3>
   
           <div class="row">
             <div class="col-sm-6">
                <div class="form-group">
                  <font color="red">*</font>    <label for="FullName">Full Name</label>
                    <input type="text" name="FullName" id="FullName" placeholder="" required="" autofocus="" data-parsley-error-message="Valid input required." data-parsley-trigger="keyup" class="form-control" value="" autocomplete="off" fdprocessedid="nqb3te">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                     <font color="red">*</font> <label for="Mobile">Mobile No.</label>
                    <input type="text" name="Mobile" id="Mobile" placeholder="" required="" data-parsley-type="digits" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Valid mobile required." data-parsley-trigger="keyup" class="form-control" value="" autocomplete="off" fdprocessedid="673mmm">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                     <font color="red">*</font> <label for="Password">Password</label>
                    <input type="password" name="Password" id="Password" placeholder="" required="" autofocus="" data-parsley-error-message="Valid input required." data-parsley-trigger="keyup" class="form-control" value="" autocomplete="off" fdprocessedid="4d21a">
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="form-group">
                     <font color="red">*</font> <label for="UserRole">Choose User Role</label>
                    <select name="UserRole" id="UserRole" required="" class="form-select " >
                        <option value="1" data-select2-id="2">User</option>
                        <option value="2">Supervisor</option>
                    </select>
                </div>
            </div>
           <p></p>

        <div class="form-group text-right">
            <input type="submit" id="submit" name="submit" value="Save User" class="btn btn-success" data-parsley-error-message="Valid input required." placeholder="" autocomplete="off" fdprocessedid="ch7q2d">
            <a href="/User" class="btn btn-danger">Go Back</a>
        </div>
         {% csrf_token %}
    
</form>
</center>
    {% include 'design/last.html' %}

</body>
</html>