<!DOCTYPE html>
<html>
<head>
	<title>Student Document</title>
	{% include 'design/head.html' %}

</head>
<body>
	 {% include 'design/operatormid.html' %}
	 <form name="studentdocument" method="POST" autocomplete="off" enctype="multipart/form-data">
	 	<h3>Upload Documents</h3>
	 	<div class="container-fluid mt-3">
	 		<div class="row" >
	 			<div class="input-group mb-3" align="center">
					<div class="col-lg-3 col-md-0 col-sm-0"></div>
	 				<div class="col-lg-6 col-md-12 col-sm-12" style="text-align:left;">
	 				<label for="FileName"><font color="red">*</font>Counseling letter/Holticket</label>
	 				<input type="file" class="form-control" required autofocus="on" name="Holticket">
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="container-fluid mt-3">
	 		<div class="row" >
	 			<div class="input-group mb-3" align="center">
					<div class="col-lg-3 col-md-0 col-sm-0"></div>
	 				<div class="col-lg-6 col-md-12 col-sm-12" style="text-align:left;">
	 				<label for="FileName"><font color="red">*</font>TC</label>
	 				<input type="file" class="form-control" required  name="tc">
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="container-fluid mt-3">
	 		<div class="row" >
	 			<div class="input-group mb-3" align="center">
					<div class="col-lg-3 col-md-0 col-sm-0"></div>
	 				<div class="col-lg-6 col-md-12 col-sm-12" style="text-align:left;">
	 				<label for="FileName"><font color="red">*</font>5th Marks Card</label>
	 				<input type="file" class="form-control" required  name="5thMarksCard">
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="container-fluid mt-3">
	 		<div class="row" >
	 			<div class="input-group mb-3" align="center">
					<div class="col-lg-3 col-md-0 col-sm-0"></div>
	 				<div class="col-lg-6 col-md-12 col-sm-12" style="text-align:left;">
	 				<label for="FileName"><font color="red">*</font>Caste Certificate</label>
	 				<input type="file" class="form-control" required  name="CasteCertificate">
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="container-fluid mt-3">
	 		<div class="row" >
	 			<div class="input-group mb-3" align="center">
					<div class="col-lg-3 col-md-0 col-sm-0"></div>
	 				<div class="col-lg-6 col-md-12 col-sm-12" style="text-align:left;">
	 				<label for="FileName"><font color="red">*</font>Income Certificate</label>
	 				<input type="file" class="form-control" required  name="IncomeCertificate">
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="container-fluid mt-3">
	 		<div class="row" >
	 			<div class="input-group mb-3" align="center">
					<div class="col-lg-3 col-md-0 col-sm-0"></div>
	 				<div class="col-lg-6 col-md-12 col-sm-12" style="text-align:left;">
	 				<label for="FileName"><font color="red">*</font>Aadhaar Card</label>
	 				<input type="file" class="form-control" required  name="Aadhaar">
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="container-fluid mt-3">
	 		<div class="row" >
	 			<div class="input-group mb-3" align="center">
					<div class="col-lg-3 col-md-0 col-sm-0"></div>
	 				<div class="col-lg-6 col-md-12 col-sm-12" style="text-align:left;">
	 				<label for="FileName"><font color="red">*</font>Bank Passbook</label>
	 				<input type="file" class="form-control" required  name="BankPassbook">
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="container-fluid mt-3">
	 		<div class="row" >
	 			<div class="input-group mb-3" align="center">
					<div class="col-lg-3 col-md-0 col-sm-0"></div>
	 				<div class="col-lg-6 col-md-12 col-sm-12" style="text-align:left;">
	 				<label for="FileName"><font color="red">*</font>Ration Card</label>
	 				<input type="file" class="form-control" required  name="Rationcard">
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="container-fluid mt-3">
	 		<div class="row" >
	 			<div class="input-group mb-3" align="center">
					<div class="col-lg-3 col-md-0 col-sm-0"></div>
	 				<div class="col-lg-6 col-md-12 col-sm-12" style="text-align:left;">
	 				<label for="FileName"><font color="red">*</font>Photho</label>
	 				<input type="file" class="form-control" required  name="Photho">
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="container-fluid mt-3">
	 		<div class="row" >
	 			<div class="input-group mb-3" align="center">
					<div class="col-lg-3 col-md-0 col-sm-0"></div>
	 				<div class="col-lg-6 col-md-12 col-sm-12" style="text-align:left;">
	 				<label for="FileName"><font color="red">*</font>Handicapped certificate</label>
	 				<input type="file" class="form-control" required  name="Handicappedcertificate">
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="container-fluid mt-3">
	 		<div class="row" >
	 			<div class="input-group mb-3" align="center">
					<div class="col-lg-3 col-md-0 col-sm-0"></div>
	 				<div class="col-lg-6 col-md-12 col-sm-12" style="text-align:left;">
	 				<label for="FileName"><font color="red">*</font>Medical Certificate</label>
	 				<input type="file" class="form-control" required  name="Medicalcertificate">
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 	<div class="container-fluid mt-3">
	 		<div class="row" >
	 			<div class="input-group mb-3" align="center">
					<div class="col-lg-3 col-md-0 col-sm-0"></div>
	 				<div class="col-lg-6 col-md-12 col-sm-12" style="text-align:left;">
	 				<label for="FileName"><font color="red">*</font>Bond</label>
	 				<input type="file" class="form-control" required name="Bond">
	 				</div>
	 			</div>
	 		</div>
	 	</div>

	 	<br>
	 	<center><input type="submit" name="submit" class="btn btn-success" value="Submit"></center>
	 	{% csrf_token %}
	 </form>
	  {% include 'design/last.html' %}
</body>
</html>