  <!DOCTYPE html>
<html>
<head>
	{% include "design/head.html" %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fees Record</title>
</head>
<body>
	{% include "design/accountantmid.html" %}	
<h3>Fees Details</h3>
<center>

 <div class="container-fluid" >
<div class="row">
  <div class="col-lg-12">
<form autocomplete="off" name="frmfeedetails" method="POST"  >
  <div class="input-group" align="center">	
			<input type="text" name="txtsearch" autofocus="on"  class="form-control" placeholder="Enter Student Id" required>
    <input type="hidden" name="txtoperation"  value="1">      
    <input type="submit" name="btnsubmit" class="btn btn-info" value="Get Data">				
	</div>

{% csrf_token %}

</form>
  </div>
</div>
</div>  

{% if data %}
</body>
 {% for d in data %}
<form name="frmcollectfees" method="POST" >

<table class="table table-boarderd mt-3">
  <tr><td><img static src="{{d.studentphoto}}" alt="Student Image"  height="100px" width="100px" ></td></tr>
  <tr>
    <td><b>Student ID: </b>{{d.id}}</td>
    <td><b>Student Name: </b>{{d.studentname}} {{d.surname}}</td>
    <td><b>Class: </b>{{d.chooseclass}} {{d.section}} Section</td>
  </tr>

  <tr>
    <td><b>Category: </b>{{d.category}}</td>
    <td><b>Mobile Number: </b>{{d.mobileno}}</td>
    <td><b>Address: </b> {{d.address}}</td>
  </tr>
  <tr>
    <td><b>Annual Fees: </b>Rs. {{totalfees}}</td>
    <td><b><font color="green">Total Paid: Rs. {{amountpaid}}</font></b></td>
    <td><b><font color="red">Balance Fees: Rs. {{balanceamount}}</font></b></td>
  </tr>
  <tr>
    <td><b>Transportation : </b>{{d.busfacility}}</td>
    <td><b>Hostel hostelfacility : </b>{{d.hostelfacility}}</td>
    <td><b>Discount Amount: </b>{{discountamt}} </td>
  </tr>
  <tr>

    <td><b>Amount Paid:</b> <input type="number" min="1" max="{{balanceamount}}" pattern="[0-9]{1,10}" class="form-control" name="amountpaid" placeholder="Enter Amount Paid" required ></td>
    <td><b>Select Payment Method:</b> <select required name="ddlpaymentmode" class="form-select">
      <option value="">Select Payment Mode</option>
      <option value="CASH">CASH</option>
      <option value="RTGS">RTGS</option>
      <option value="NEFT">NEFT</option>
      <option value="UPI">UPI</option>
    </select></td>
    <td><b>Transaction Details :</b> <input type="text" name="transactiondetials" class="form-control" placeholder="Enter Transaction Details" required></td>
  </tr>


</table>
<table class="table">
  <tr>
    <th>Receipt Id</th>
    <th>Paid on</th>
    <th>Amount Paid</th>
    <th>Payment Mode</th>
    <th>Transcation Details</th>

  </tr>
{%for sfd in studentfeesdetails%}
  <tr>
    <td>{{sfd.id}}</td>
    <td>{{sfd.createdon}}</td>
    <td>{{sfd.amountpaid}}</td>
    <td>{{sfd.ddlpaymentmode}}</td>
    <td>{{sfd.transactiondetials}}</td>

  </tr>

{%endfor%}
</table>
    <center>
    <input type="hidden" name="txtoperation" class="btn btn-info" value="2">      
 			 <input type="hidden" name="sid" value="{{d.id}}">
       <input type="hidden" name="classid" value="{{d.chooseclass_id}}">
       <input type="hidden" name="sectionid" value="{{d.section_id}}">
       <input type="hidden" name="studentname" value="{{d.studentname}} {{d.surname}}">
       <input type="hidden" name="mobilenumber" value="{{d.mobilenumber}}">
      <input name="classsection" type="hidden" value="{{d.chooseclass}} {{d.section}}">       
       <input type="submit" value="Collect Fees" name="btnsubmit" class="btn btn-success"/></a>       
 		</center> 
    {% csrf_token %}
</form>   
 {% endfor %}
 {% endif %}

{% include "design/last.html" %}

</html>