  {% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Student Digital Diary | Login Form</title>

{%  include "design/head.html" %}
</head>
<body oncontextmenu="return false;" >

{%  include "design/mid.html" %}

      <center>
                  <br/>
<h3 class="small_heading"><font color="darkred">Connect us for any service</font></h3>

            
      </center>
      <!-- section -->
    <div class="section">
        <div class="container">
                  <div class="row margin-top_30">
                        
                        <div class="col-lg-7 col-sm-7 col-xs-12 margin-top_30">
                          <div class="contact-block">
                              
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.0062481921423!2d77.54567571455271!3d13.035273890814107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d5ef3c06cb5%3A0xdb0d9e1c18d501c6!2sNimisha%20Park%20View%20Apartment!5e0!3m2!1sen!2sin!4v1648547795854!5m2!1sen!2sin" style="border:0; width: 100%; height: 340px;" allowfullscreen style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                                                        </div>
                        </div>


                        <div class="col-lg-5 col-sm-5 col-xs-12 margin-top_30">
                              <div class="left-contact">
                                    <div class="media cont-line">
                                          <div class="media-left icon-b">
                                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                          </div>
                                          <div class="media-body dit-right">
                                                <h4>Address</h4>
                                                <p>5th Main #201, 15th E Cross Rd , Muthyala Nagar<br/> BNS Layout, Mathikere<br/>Bengaluru, Karnataka 560054</p>
                                          </div>
                                    </div>
                                    <div class="media cont-line">
                                          <div class="media-left icon-b">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                          </div>
                                          <div class="media-body dit-right">
                                                <h4>Email</h4>
                                                <a href="#">hr@technosoftblr.in</a><br>
                                                <a href="#">support@technosoftblr.in</a>
                                          </div>
                                    </div>
                                    <div class="media cont-line">
                                          <div class="media-left icon-b">
                                                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                          </div>
                                          <div class="media-body dit-right">
                                                <h4>Phone Number</h4>
                                                <a href="#">6364603717,9845356246</a><br>
                                                <a href="#">8722202312,8884755720</a>
                                          </div>
                                    </div>
                              </div>
                        </div>


                  </div>
        </div>
    </div>
      <!-- end section -->


{%  include "design/last.html" %}
</body>
</html>
