{% load static %}
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">
      <a href="#" class="logo me-auto">
               <img style="border-radius:5px;height:50px;width:60px" src="{% static 'assets/img/patshalalogo.png' %}" alt="image"> 
               <font color="white" size="+1"><b>E-Patshala</b></font>
      </a>

      <nav id="navbar" class="navbar">
<ul>
<li><a href="studenthome"><span>Home</span></a></li>
<li class="dropdown">
   <a href="#"><span>Activities</span><i class="bi bi-chevron-down"></i></a>
      <ul>

<li><a href="studentattendancerecord">Attendance</a></li>
<li><a href="studentacademics">Assesment</a></li>
<li><a href="studentclasswork"><span>Classwork</span></a></li>
<li><a href="studenthomework"><span>Homework</span></a></li>
<li><a href="studentnoticecircular"><span>Circulars</span></a></li>
<li><a href="studentfeedback"><span>Feedback</span></a></li>

</ul></li>
<li><a href="selectstudentprofile"><span>Profile</span></a></li>



<li class="dropdown">
   <a href="#"><span>Leave</span><i class="bi bi-chevron-down"></i></a>
      <ul>
<li ><a href="studentapplyleave"><span>Leave Apply</span></a></li>
<li ><a href="studentleavedisplay"><span>New Request</span></a></li>
<li ><a href="studentapprovaleleaves"><span>Approved</span></a></li>
<li ><a href="studentrejectleaves"><span>Rejected</span></a></li>
<li ><a href="studentcancelledleave"><span>Cancelled</span></a></li>

</ul></li>

          <li><a  href="../logout">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="form-control">

    {% include 'design/msg.html' %}

