<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student Display</title>
</head>
<body>
	<center>{{msg}}</center>
	<table border="1" align="center">
		<tr>
		
				{% for d in data %}
				<tr>
				<td>{{d.id}}</td><td>

				{{d.chooseclass}}</td><td>
				{{d.section}}</td><td>

				{{d.studentname}}</td><td>
				{{d.mobileno}}</td><td>

				{{d.password}}</td>
				</tr>
				{% endfor %}
				
		</tr>
	</table>
	<br/>
<table align="center">
	<tr>
<td>
		<form name="frm" method="post">
			<input type="hidden" name="txtmin" value="1">
			<input type="hidden" name="txtmax" value="4">
			<input type="submit" name="btnnext" value="First 3 Record" class="btn btn-success">
{% csrf_token %}
	</form>
	
</td>

		<td>
					<form name="frm" method="post">
			<input type="hidden" name="txtmin" value="{{min}}">
			<input type="hidden" name="txtmax" value="{{max}}">
			<input type="submit" name="btnnext" value="Next 3 Record" class="btn btn-success">
{% csrf_token %}
	</form>

		</td>
	</tr>
</table>
<center>

</center>
</body>
</html>