<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard</title>
	{% load static  %}
	{% include 'design/head.html' %}
</head>
<body>
	{% include 'design/facultymid.html' %}
	<form name="countrecord" method="POST">
		<center>
			<div class="container">
				<div class="row">
					<div class="col-sm-3 mt-2">
					<a href="studentdisplay" style="height:80px;font-size:20px" class="btn btn-success form-control"><b>Students {{Sdatacount}}</b></a>
					</div>
					<div class="col-sm-3 mt-2">
						<a href="classassign"style="height:80px;font-size:20px" class="btn btn-primary form-control"><b> Class Assign Staff <br> {{Staffcount}}</b></a>
					</div>
					<div class="col-sm-3 mt-2">
						<a href="classworkdisplay" style="height:80px;font-size:20px" class="btn btn-warning form-control"><b> Classwork Display <br>{{Classworkcount}}</b></a>
					</div>
					<div class="col-sm-3 mt-2">
						<a href="homeworkdisplay"style="height:80px;font-size:20px" class="btn btn-info form-control"><b>Homework Display<br>{{HomeWorkcount}}</b></a>
					</div>
					<div class="col-sm-3 mt-2">
						<a href="leavestaffdisplay"style="height:80px;font-size:20px" class="btn btn-primary form-control" ><b>Applied Leave<br>{{leavecount}}</b></a>
					</div>
					<div class="col-sm-3 mt-2">
						<a href=""><button style="height:80px;font-size:20px" class="btn btn-secondary form-control"><b>Subject Assigned<br>{{Subjectcount}}</b></button></a>
					</div>
				</div>
		</center>
			 {% csrf_token %}		
	</form>
	{% include 'design/last.html' %}
</body>
</html>