
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Student Leaves</title>
  {% include "design/head.html" %}
</head>
<body>
  
{% include "design/facultymid.html" %}
<form name="frmdisplay" method="POST" >
  <h2>Student Leaves</h2>
  {% for d in leavedata %}
 <div class="container mt-3"  >
  <div id="accordion">
    <div class="card">
      <a class="btn btn-info" data-bs-toggle="collapse" href="#collapse{{d.id}}">
     
      <div class="card-header" >
        <div>{{d.createdby.studentname}}| {{d.createdby.chooseclass}} {{d.createdby.section}}|Leave Date:{{d.createdon}}
         
          </div>
      </div>
       </a>
  <div id="printableArea" >
      <div id="collapse{{d.id}}" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">

 <table align="center" class="table">
          <tr >
              <td><b>Leave Date:</b>{{d.leavedate}}</td>
          </tr>

         <tr>
            <td><b>Subject:</b>{{d.subject}} </td>
          </tr>

          <tr >
            <td><b>Matter:</b> <pre>{{d.text}}</pre> </td>
          </tr>
          
          <tr>
            <td><b>Leave End Date:</b>{{d.end_date}}</td>
          </tr>

      </table>
      <center>
    <form name="frmaprrove" method="post">
          <input type="hidden" name="leaveid" value="{{d.id}}"> 
          <input type="submit" name="btnsubmit" value="Approve" class="btn btn-success">
          <input type="submit" name="btnsubmit" value="Reject" class="btn btn-danger">
        {% csrf_token %}  
    </form></center>    


          </div>
        </div>


        </div>
    
      </div>

    </div>
{% csrf_token %}

  </div>
  {% endfor %}
</div>

</form>

{% include "design/last.html" %}
</body>
</html>