<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard</title>
	{% load static  %}
	{% include 'design/head.html' %}
</head>
<body>
	{% include 'design/facultymid.html' %}
	<form name="countrecord" method="POST">
		<center>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-4 col-md-6 mt-2">
					<a href="studentattendancedisplay"><button style="height:80px;font-size:20px" class="btn btn-success form-control"><b>Students {{Sdatacount}}</b></button></a>
					</div>
					<div class="col-sm-6 col-lg-4 col-md-6 mt-2">
						<a href=""><button style="height:80px;font-size:20px" class="btn btn-primary form-control"><b> Class Assign<br> {{Staffcount}}</b></button></a>
					</div>
					<div class="col-sm-6 col-lg-4 col-md-6 mt-2">
						<a href="classworkdisplay"><button style="height:80px;font-size:20px" class="btn btn-warning form-control"><b> Classwork<br>{{Classworkcount}}</b></button></a>
					</div>
					<div class="col-sm-6 col-lg-4 col-md-6 mt-2">
						<a href="homeworkdisplay"><button style="height:80px;font-size:20px" class="btn btn-warning form-control"><b>HomeWork<br>{{HomeWorkcount}}</b></button></a>
					</div>
					<div class="col-sm-6 col-lg-4 col-md-6 mt-2">
						<a href="leavestaffdisplay"><button style="height:80px;font-size:20px" class="btn btn-primary form-control" ><b>Applied Leave<br>{{leavecount}}</b></button></a>
					</div>
					<div class="col-sm-6 col-lg-4 col-md-6 mt-2">
						<a href=""><button style="height:80px;font-size:20px" class="btn btn-success form-control"><b>Subject Assigned<br>	{{Subjectcount}}</b></button></a>
					</div>
				</div>
		</center>
			 {% csrf_token %}		
	</form>
	{% include 'design/last.html' %}
</body>
</html>