  <!DOCTYPE html>
<html>
<head>
	{% include "design/head.html" %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student Record</title>
	<script type="text/javascript">
		function ConfirmDelete() {
    return confirm("Are Your Sure Want to Delete");
     }


        function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}

	</script>


</head>
<body>
	{% include "design/adminmid.html" %}	
	
<form autocomplete="off" name="searchrecord" method="POST"  >
	<div align="center">
		<h2>{{msg}}</h2>
		
	</div>

 <div class="container-fluid mt-3" >
  <div class="input-group mb-3" align="center">
  		<span class="col-3" >
  			
    		<select class="form-select" name="txtinstitutename" required>
    			<option value="">Select Institute Name</option>
    		 {% for d in  institutedata %}
    			<option value="{{d.id}}">{{d.institutename}}</option>
    		{% endfor %}	
    		</select>
    		
    	</span>			
		
		<span class="col-2">
			<select name="ddlfield" class="form-select" required>
				<option value="">Search By </option>
				<option value="studentid">Student Id</option>
				<option value="studentname">Student Name</option>
				<option value="studentmobilenumber">Student Mobile Number</option>
			</select>

		</span>
		<span class="col-5">
			<input type="text" name="txtsearch" placeholder="Enter Student ID/Student Name/Student Mobile Number" required class="form-control">
		</span><input type="submit" name="btnsubmit" class="btn btn-info" value="Get Data">			
		
		
	</div>
</div>

{% csrf_token %}
</form>
</body>

 {% for d in data %}
 <div class="container mt-3"  >
  <div id="accordion">
    <div class="card">
    	<a class="btn" data-bs-toggle="collapse" href="#collapse{{d.id}}">
     
      <div class="card-header">
         <b>&nbsp; Student ID: </b>{{d.id}}&nbsp;&nbsp; <b>Student Name: </b>{{d.studentname}}&nbsp;&nbsp;<b> Class :</b>{{d.chooseclass_id}}
       
      </div>
       </a>
  <div id="printableArea" >
      <div id="collapse{{d.id}}" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
         <ul class="list-group">
         	<table class="table">
         		<tr>
         			<td>
         <li class="list-group-item"><b> Student Name :&nbsp; </b>{{d.id}}</li>
           <li class="list-group-item"><b> Mother Name :</b>&nbsp;{{d.mothername}}</li>
        
          				
          <li class="list-group-item"><b> Adminssion Year :&nbsp; </b>{{d.academicyear}}</li>
          <li class="list-group-item"><b>Admission Date :</b>&nbsp; {{d.admissiondate}}</li>
          <li class="list-group-item"><b>Section:  </b>&nbsp;{{d.section}}</li>
          <li class="list-group-item"><b> Aadhar Number: </b>&nbsp;&nbsp;{{d.aadhaarno}}</li>
          <li class="list-group-item"><b>Gender : </b>&nbsp;{{d.gender}} </li>
          <li class="list-group-item"><b>Date of Birth :</b>&nbsp; {{d.dateofbirth}}</li>
          <li class="list-group-item"><b>Category: </b>&nbsp;{{d.category}}</li>
          <li class="list-group-item"><b>Religion :</b>&nbsp;  {{d.religion}}</li>
          <li class="list-group-item"><b>Caste  </b>&nbsp;{{d.caste}}</li>
          <li class="list-group-item"><b> Subcaste:&nbsp; </b>{{d.subcaste}}</li>
          <li class="list-group-item"><b>Nationality :&nbsp; </b>{{d.nationality}} </li>
          <li class="list-group-item"><b>Address :</b>&nbsp; {{d.address}}</li>
          <li class="list-group-item"><b> Last School Name:</b>&nbsp;{{d.lastschool}}</li>
          <li class="list-group-item"><b>TC No:</b>&nbsp;{{d.tcno}}</li>
       
         
          </td>
         			<td>
         <li class="list-group-item"><b>Father Name : </b>&nbsp;{{d.fathername}} </li>
           <li class="list-group-item"><b> Sur Name :</b>&nbsp;{{d.surname}}</li>
        <li class="list-group-item"><b>Admission Number:&nbsp; </b>{{d.admissionno}} </li>
          <li class="list-group-item"><b>Class: </b>&nbsp;{{d.chooseclass}}</li>
        
           <li class="list-group-item"><b>Roll Number: </b>&nbsp;{{d.rollno}}</li>
         
         
          <li class="list-group-item"><b>State: </b>&nbsp;{{d.state}}</li>
          <li class="list-group-item"><b>Mobile Numner:  </b>&nbsp;{{d.mobileno}}</li>
          <li class="list-group-item"><b>Phone Number </b>&nbsp;{{d.phoneno}}</li>
          <li class="list-group-item"><b> Total Fees  : </b>&nbsp;&nbsp;{{d.amount}}</li>
          
          <li class="list-group-item"><b>Father Education :</b>&nbsp; {{d.fathereducation}}</li>
          <li class="list-group-item"><b>Father Designation:</b>&nbsp;  {{d.fatherdesignation}}</li>
          
        <li class="list-group-item"><b> Mother Education :</b>&nbsp;{{d.mothereducation}}</li>
        <li class="list-group-item"><b> Mother Occupation: </b>&nbsp;{{d.motherdesignation}}</li>
        
        <li class="list-group-item"><b> Mother Tongue: </b>&nbsp;{{d.mothertongue}}</li>
        <li class="list-group-item"><b>Number Of Dependents: </b>&nbsp;{{d.dependents}}</li>
        <li class="list-group-item"><b>Annual Income :</b>&nbsp;{{d.annualincome}}</li>
       
         			</td>
         		</tr>
         	</table>
         
        
        </ul>

        </div>
         <center>
 			 <input type="button" onclick="printDiv('printableArea')" value="Print" class="btn btn-info" />       
 		</center>    
      </div>

    </div>


  </div>
</div>
</div>
 {% endfor %}


{% include "design/last.html" %}

</html>